<a href="https://colab.research.google.com/github/cesaralejon/Prediccion_precios_viviendas/blob/main/Prediccion_precios_vivienda_Cesar_Olmedo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
filename = ('/content/drive/MyDrive/Coding Dojo/Week 6/kc_house_data.csv')
df = pd.read_csv(filename)
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [26]:
dfx = df.drop(columns= ['id','date'])

In [27]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  lat            21613 non-null  float64
 16  long           21613 non-null  float64
 17  sqft_living15  21613 non-null  int64
 18  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(14)
memory usage: 3.1 MB

In [28]:
dfx.shape

(21613, 19)

## Bagged Trees

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor

In [30]:
x = dfx.drop(columns= 'price')
y= dfx['price']

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state= 3)

In [32]:
btp= BaggingRegressor()

In [33]:
btp.fit(x_train, y_train)

BaggingRegressor()

In [34]:
btp.score(x_train, y_train)

0.9745484482318696

In [35]:
btp.score(x_test, y_test)

0.8648486761456112

## Random Forest

In [36]:
rfo= RandomForestRegressor()
rfo.fit(x_train, y_train)

RandomForestRegressor()

In [37]:
rfo.score(x_train, y_train)

0.981777513340477

In [38]:
rfo.score(x_test, y_test)

0.8840112557582913

In [42]:
rfo.feature_importances_

array([0.00297336, 0.00614016, 0.29417192, 0.01384604, 0.00244687,
       0.0246552 , 0.01644012, 0.00274713, 0.29534656, 0.02075566,
       0.00532867, 0.02841327, 0.00237422, 0.01332452, 0.15978882,
       0.06619301, 0.03182866, 0.01322581])

In [44]:
dfx.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

Una vez que hayas completado la tarea, responde las siguientes preguntas.

* ¿Cuáles son las características más importantes de tu modelo?

Las características más importantes son: bathrooms, condition


* ¿Qué otros parámetros podrías haber intentado ajustar?

Los parametros que se pueden ajustar es latitud y longitud